@use '../theme/mixins' as theme;

.progress-bar {
    position: relative;
    overflow: hidden;
    @include theme.default-component-font;

    &--style-round {
        border-radius: 100dvh;
    }

    &--style-square {
        border-radius: 0;
    }

    &__fill {
        height: 100%;
        transition: width .5s, background-Color .5s;

        &__text {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin: 0 .5em;
            height: 100%;
        }
    }
}