:root {
    --uib-color-primary: 0, 123, 255;
    --uib-color-primary-foreground: 255, 255, 255;
    --uib-color-text: 80, 80, 80;
    --uib-color-background-split-button: 250, 250, 250;
    --uib-color-border: 200, 200, 200;
    --uib-border-radius: 6px;
    --uib-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --uib-color-error: 221, 29, 29;
    --uib-disabled-color: 235, 235, 235;
}