%theme-light {
    --uib-color-primary: 0, 123, 255;
    --uib-color-primary-foreground: 255, 255, 255;
    --uib-color-text: 80, 80, 80;
    --uib-color-background-split-button: 250, 250, 250;
    --uib-color-border: 200, 200, 200;
    --uib-border-radius: 6px;
    --uib-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --uib-color-error: 221, 29, 29;
    --uib-disabled-color: 235, 235, 235;
}

%theme-dark {
    --uib-color-primary: 0, 123, 255;
    --uib-color-primary-foreground: 0, 0, 0;
    --uib-color-text: 220, 220, 220;
    --uib-color-background-split-button: 26, 27, 31;
    --uib-color-border: 70, 70, 70;
    --uib-color-error: 255, 99, 99;
    --uib-disabled-color: 55, 55, 55;
}

:root {
    @extend %theme-light;
}

:root[data-theme="light"] {
    @extend %theme-light;
}

:root[data-theme="dark"] {
    @extend %theme-dark;
}