%theme-material {
    --uib-material-border-radius-small: 5px;
    --uib-material-border-radius-medium: 9px;
    --uib-material-border-radius-big: 21px;
}

%theme-light {
    @extend %theme-material;
    --uib-color-primary: 0, 123, 255;
    --uib-color-primary-foreground: 255, 255, 255;
    --uib-color-text: 80, 80, 80;
    --uib-color-background-light-button: 250, 250, 250;
    --uib-color-border: 200, 200, 200;
    --uib-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --uib-color-error: 221, 29, 29;
    --uib-disabled-color: 235, 235, 235;
    --uib-color-background-panel: 20, 20, 20;
    --uib-color-background-paragraph: 230, 230, 230;
}

%theme-dark {
    @extend %theme-material;
    --uib-color-primary: 0, 123, 255;
    --uib-color-primary-foreground: 225, 225, 225;
    --uib-color-text: 220, 220, 220;
    --uib-color-background-light-button: 26, 27, 31;
    --uib-color-border: 70, 70, 70;
    --uib-color-error: 255, 99, 99;
    --uib-disabled-color: 55, 55, 55;
    --uib-color-background-panel: 230, 230, 230;
    --uib-color-background-paragraph: 40, 40, 40;
}


:root {
    @extend %theme-light;
}

:root[data-theme="light"] {
    @extend %theme-light;
}

:root[data-theme="dark"] {
    @extend %theme-dark;
}