html[data-theme="light"] {
    background-color: #ffffff;

    .docs-story {
        background-color: #ffffff;
    }
}

html[data-theme="dark"] {
    background-color: #1A1B1F;

    .docs-story {
        background-color: #1A1B1F;
        color:#e0e0e0;
    }

    .docblock-argstable-body tr td {
        background-color: #2c2c2c;
        color:#e0e0e0;
    }

    h1, p {
        color:#ffffff !important;
    }
    
    h2, h3, .docblock-argstable th {
        color:#e0e0e0 !important;
    }

    .sb-bar, .docblock-code-toggle {
        background-color: #333;
        color: #fff;
    }
}

body,
#root,
.sbdocs,
#storybook-root {
    background: inherit !important;
}