@use '../theme/mixins' as theme;
$tooltip-bg-color : color-mix(in oklab, rgb(var(--uib-color-primary)) 40%, #333 60%);

%arrow {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
}


.tooltip {
  @include theme.default-component-font;
  background-color: $tooltip-bg-color;
  color: rgb(var(--uib-color-primary-foreground));
  padding: 6px 10px;
  border-radius: var(--uib-material-border-radius-small);
  font-size: 14px;
  white-space: nowrap;
  position: fixed;
  z-index: 99999;
  pointer-events: none;
  animation: 1.5s ease-out 0s animation-appear;

  &--state-bottom {
    &:before {
      @extend %arrow;
      top: -13px;
      left: 50%;
      transform: translateX(-50%);
      border-color: transparent transparent $tooltip-bg-color transparent;
    }
  }

  &--state-top {
    &:before {
      @extend %arrow;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
      border-color: $tooltip-bg-color transparent transparent transparent;
    }
  }

  &--state-left {
    &:before {
      @extend %arrow;
      top: 50%;
      right: -13px;
      transform: translateY(-50%);
      border-color: transparent transparent transparent $tooltip-bg-color;
    }
  }

  &--state-right {
    &:before {
      @extend %arrow;
      top: 50%;
      left: -13px;
      transform: translateY(-50%);
      border-color: transparent $tooltip-bg-color transparent transparent;
    }
  }
}

@keyframes animation-appear {
  0% {
    opacity: 0;
  }

  80% {
    transform: rotateX(50deg);
    opacity: 0;

  }

  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}