@use '../../theme/mixins' as theme;

.calendar {
    margin-left: 1px;
    margin-top: 1px;
    max-height: 100vh;
    @include theme.default-component-font;

    &__mode-selector {
        display: flex;
        gap: 1em;
        justify-content: end;
        margin-bottom: 1em;
    }

    

}