.calendar {
    margin-left: 1px;
    margin-top: 1px;
    max-height: 100vh;
    font-family: var(--font-family);
    color: rgb(var(--color-text));

    &__mode-selector {
        display: flex;
        gap: 1em;
        justify-content: end;
        margin-bottom: 1em;
    }

    

}