.calendar-month {
    &__header {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        border-top-left-radius: 1em;

        &__day {
            border: 1px solid rgb(var(--uib-color-border));
            margin-left: -1px;
            margin-top: -1px;
            padding: .5em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            font-size: .8em;


            &:first-child {
                border-top-left-radius: 1em;
            }

            &:last-child {
                border-top-right-radius: 1em;
            }
        }
    }

    &__week-line {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        &__single-day {
            position: relative;
            padding: .5em;
            aspect-ratio: 3/2;
            background-color: rgba(var(--uib-color-border), .3);
            display: flex;
            align-items: baseline;
            justify-content: end;
            border: 1px solid rgb(var(--uib-color-border));
            margin-left: -1px;
            margin-top: -1px;
            font-size: .8em;
            transition: background-color .3s;

            &--state-disabled {
                opacity: .4;
            }

            &--state-today {
                background-color: rgba(var(--uib-color-primary), .15);
            }

            &__more-event {
                position: absolute;
                bottom: .2em;
                right: .2em;
                background-color: rgba(var(--uib-color-primary), 0.8);
                color: white;
                border-radius: var(--uib-material-border-radius-small);
                padding: .25em;
                font-size: .7em;
            }

            &--state-drag-over {
                background-color: rgba(var(--uib-color-primary), 0.3);
            }
        }

        &:last-child {
            .calendar__week-line__single-day:first-child {
                border-bottom-left-radius: 1em;
            }

            .calendar__week-line__single-day:last-child {
                border-bottom-right-radius: 1em;
            }
        }
    }

    &__event {
        position: absolute;
        left: 0;
        padding: 0;
        margin: 2px;
        z-index: 1;
        display: flex;
        flex-wrap: nowrap;

        &__resizer-left {
            cursor: ew-resize;
            width: 5px;
            margin-left: -5px;

        }

        &__resizer-right {
            cursor: ew-resize;
            width: 5px;
            margin-right: -5px;
        }

        &__content {
            cursor: default;
            padding: .2em;
            background-color: rgba(var(--uib-color-primary), 0.8);
            color: white;
            border-radius: var(--uib-material-border-radius-small);
            flex-grow: 1;
        }
    }
}